*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    height: 100vh;
    width: 100%;
    background:url(/images/Helpdesk_BG.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
/* Navigation bar styling section*/
.navigation{
    height: 10vh;
    width: 100vw;
    background-color: rgb(37, 245, 245);
}
.menu{
    height: 10vh;
    width: 40vw;
    margin: 0 auto;
}
.menu ul{
    height: 10vh;
    width: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.menu ul li{
    list-style-type: none;
    width: 55%;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}
.menu ul li a{
    text-decoration: none;
    color: black;
}
.menu ul svg{
    fill: rgb(223, 77, 101);
    font-size: 24px;
}
/* Ticket Container added to allow a more fluent design option for the catalog html section*/
.ticket-container{
    display: flex;
    background-color: rgba(168, 255, 255, 0.868);
}
.ticket-section{
    height: 90vh;
    width: 50vw;
    align-items: center;
    justify-content: center;
    display: flex;
}
/* Helpdesk Support page styling section */
.ticket-intro-section{
    height: 20vh;
    width: 40vw;
    padding:10px 15px;
    text-align: center;
}
.ticket-intro-section p {
    font-size: 1em;
}
form{
    margin: 0 auto;
    height:70vh;
    width: 30vw;
    display: grid;
}
form label{
    display: grid;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 2px;
    font-size: 20px;
    text-transform: uppercase;
    height: 5vh;
}
form label input{
    background-color: rgba(16, 96, 96, 0);
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}
form select{
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: bold;
    background-color: rgba(16, 96, 96, 0);
    height: 3vh;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}
form textarea{
    background-color: rgba(16, 96, 96, 0);
    padding:0 10px 0 10px;
    border: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
    outline: none;
    border-bottom: 1px solid black;
}
form button{
    margin-top: 15px;
    width: 10vw;
    height: 3vh;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    background-color: darkslategray;
    color:white;
    background-color: rgb(9, 102, 102);
    justify-self: right;
}
/* Form styling section */
/* Looking to create a form that is centered in the screen, minimalistic but pops */

footer{
    height: 5vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(37, 245, 245);
    color: rgb(0, 0, 0);
    font-size: 20px;
    letter-spacing: 3px;
    position: fixed;
    width: 100vw;
    top: 50;
    bottom:0;
}
footer a{
    color: rgb(128, 128, 128);
    text-decoration: none;
}
/*Catalog Gallery Styling Section*/

                .gallery {
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: center;
                }
                .gallery img {
                  height: 40px;
                  max-width: 100px;
                  margin: 1px;
                }
                .view-box {
                  margin-top: 45px;
                  text-align: center;
                }
                .view-box img {
                  width: 30vw;
                  height: 65vh;
                  border: 1px solid #000;
                }
                .view-box img:hover{
                    scale: 1.1;
                    transition: all ease-in .3s;
                }
                .view-box button{
                    transform: translateY(-600px);
                    padding-left: 20px;
                    cursor: pointer;
                    font-weight: bold;
                    letter-spacing: 3px;
                    padding-right: 20px;
                    margin: 0 100px 0 100px;
                    text-transform: uppercase;
                    background:linear-gradient(rgb(149, 228, 255),rgb(212, 149, 249));
                    border: 2px solid ;
                    border-radius: 4px;
                }
/* Responsive Design Styling section*/
@media (max-width:1179px) {
 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    height: 100vh;
    width: 100vw;
    background:url(/images/Helpdesk_BG.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
/* Navigation bar styling section*/
.navigation{
    height: 10vh;
    width: 100vw;
    background-color: rgb(37, 245, 245);
}
.menu{
    height: 10vh;
    width: 100vw;
    margin: 0 auto;
}
.menu ul{
    height: 10vh;
    width: 90vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.menu ul li{
    list-style-type: none;
    width: 55%;
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
}
.menu ul li a{
    text-decoration: none;
    color: black;
}
/* Ticket Container added to allow a more fluent design option for the catalog html section*/
.ticket-container{
    display: block;
    height: 90vh;
    width: 100%;
    background-color: rgba(168, 255, 255, 0.868);
}
/* Helpdesk Support page styling section */
.ticket-intro-section{
    height: 100vh;
    width: 100vw;
    padding:10px 35px;
    text-align: center;
}
.ticket-intro-section p {
    font-size: 3rem;
    padding: 50px 25px 0px 25px;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gallery img {
  height: 0px;
  max-width: 100px;
  margin: 1px;
}
.view-box {
  margin-top: 100px;
  height: 50vh;
  text-align: center;
}
.view-box img {
  width: 90vw;
  height: 50vh;
  border: 2px solid #000;
}
.view-box img:hover{
    scale: 1.1;
    transition: all ease-in .3s;
}
.view-box button{
    transform: translateY(150%);
    padding-left: 20px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 3px;
    padding-right: 20px;
    margin: 0 30px 0 30px;
    text-transform: uppercase;
    background:linear-gradient(rgb(149, 228, 255),rgb(212, 149, 249));
    border: 2px solid ;
    border-radius: 4px;
    font-size: 2rem;
}
.ticket-section{
    height: 70vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: grid;
}
form{
    margin: 0 auto;
    height:60vh;
    width: 80vw;
    display: grid;
    line-height: 0px;
}
form label{
    display: grid;
    text-align: left;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 3rem;
    text-transform: uppercase;
    height: 4vh;
}
form label input{
    background-color: rgba(16, 96, 96, 0);
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    width: 80vw;
}
form select{
    font-size: 3rem;
    letter-spacing: 2px;
    font-weight: bold;
    width: 80vw;
    background-color: rgba(16, 96, 96, 0);
    height: 3vh;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}
form textarea{
    background-color: rgba(16, 96, 96, 0);
    padding:0 0 0 0;
    border: none;
    color: black;
    font-size: 3rem;
    font-weight: bold;
    outline: none;
    border-bottom: 1px solid black;
}
form button{
    margin-top: 15px;
    margin-left: 10px;
    height:30px;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 3rem 25rem 3rem 25rem;
    color:white;
    background-color: rgb(9, 102, 102);
    justify-self: left;
}
/* Form styling section */
/* Looking to create a form that is centered in the screen, minimalistic but pops */

footer{
    height: 5vh;
    text-align: center;
    display: grid;
    background-color: rgb(37, 245, 245);
    color: rgb(0, 0, 0);
    font-size: 3rem;
    letter-spacing: 2px;
    position: fixed;
    width: 100vw;
    top: 50;
    bottom:0;
}
footer a{
    color: rgb(128, 128, 128);
    text-decoration: none;
}   
}